body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  border: 1px solid #fff;
}

canvas {
  background-color: #000;
}

#score {
  color: #fff;
  font-size: 24px;
  margin-top: 10px;
  text-align: center;
}
